In [37]:

# Importing the libraries
import pandas as pd
import numpy as np


import warnings
warnings.simplefilter('ignore')

In [45]:
def read_HousingData():
    """
        Function to read boston housing data. 
    """
    from sklearn.datasets import load_boston
    boston_dataset = load_boston()
    df = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
    df['target']=boston_dataset.target
    y=df['target']
    X=df.drop('target',axis=1)
    return (X,y,df)

In [46]:
X,y,df=read_HousingData()

In [47]:
# splitting df for testing purpose (ignore)
df_cluster= df.iloc[0:int(len(df)/2)-1, :]
df_unassigned=df.iloc[int(len(df)/2):len(df)-1, :]

df_cluster is the clusters dataframe  
df_unassigned is dataframe with unassigned points

In [49]:
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [52]:

def sum_of_points(data,df_cluster):
    '''calcultes the distance of a point (data) from each point of cluster and sums it up'''
    sum_of_points=0
    for data2, index in df_cluster.iterrows():
        sum_of_points=sum_of_points+np.linalg.norm(np.asarray(data2)- np.asarray(data))
    return sum_of_points

In [53]:
# returns the sum of distance of each point of unassigned cluster from all points of assigned cluster dataframe
df_unassigned.apply(lambda x: sum_of_points(x,df_cluster),axis=1)


#Next steps:
#1) replace above function in the WCA code from the point where distance is calculated from mean of cluster.

253    146103.956196
254    142760.487689
255    143503.082566
256    135362.967000
257    137677.843931
258    137101.492150
259    138538.092196
260    138547.046089
261    137625.801585
262    137237.679927
263    138490.449383
264    137753.074037
265    139329.854880
266    137208.091770
267    137202.501844
268    138773.110705
269    136086.180172
270    136308.691161
271    138596.487898
272    136809.645921
273    135903.399326
274    138866.618642
275    138596.357372
276    137051.493413
277    138500.162885
278    138901.142253
279    137499.586688
280    134807.931872
281    136608.705189
282    133750.385821
           ...
475    185213.602654
476    192573.967386
477    188232.484603
478    190991.039198
479    191186.827813
480    193043.117965
481    192598.918253
482    192737.091419
483    193397.334661
484    191391.189633
485    192686.768392
486    192394.735556
487    192613.068531
488    201451.611734
489    197460.546998
490    195507.882618
491    201008.232136
492    201675.172570
493    152677.626035
494    152813.017106
495    152730.683083
496    151944.126306
497    152318.232961
498    152372.995304
499    152157.399998
500    152224.067278
501    140248.051068
502    140902.036406
503    140702.784614
504    140293.158557
Length: 252, dtype: float64